@using Opticron.Controllers
@model Opticron.Models.NavigationCards

<div>
    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <img src="" alt="">
    <p>@Html.DisplayFor(model => model.Description)</p>
    <button>@Html.DisplayFor(model => model.LinkText)</button>
</div> 
