<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Opticron</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Opticron.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/lib/slick/slick.css"/>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light border-bottom box-shadow">
            <div id="nav-container" class="container">
                <div>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img id="nav-logo"
                            src="~/assets/logo.png" alt="Opticron logo"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="container-fluid d-flex align-items-end justify-between">
                    <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between ">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="" asp-action="">Our Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="" asp-action="">Where to Buy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="" asp-action="">News & Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="" asp-action="">Help & Support</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="" asp-action="">My Opticron</a>
                            </li>
                        </ul>
                    </div>
                    <div class="search-container ">
                        <form class="d-flex form-inline my-2 my-lg-0">
                            <input class="search-field form-control" type="search" placeholder="My Opticron..." aria-label="Search">
                            <button class="search-btn btn" type="submit"><img class="h-100" src="~/assets/search-icon.png" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted">
        <div class="footer-container row">
            <div class="footer-info col-lg">
                <p>Optictron Unit 21, Titan Court, Laporte Way, Luton, Bedfordshire, LU4 8EF, UK</p>
                <p>Site map / Terms / Privacy Policy / Site By Verto</p></div>
            <div class="footer-logo-container text-lg-end col-lg">
                <img class="footer-logo" src="/assets/contact-info.png" alt="">
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/slick/slick.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
