@using Opticron.Controllers
@model Opticron.Models.SpecialOffers

@{
    string imgSrc = string.Empty;
    if (Model.Image != null)
    {
        var base64 = Convert.ToBase64String(Model.Image);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
}

<div class="special-offer-container col-12 col-lg-4">
    <img src="@imgSrc" class="home-image" />
    <div class="special-offer-text-container">
            <p class="special-offer-main-text">@Html.DisplayFor(model => model.Description)</p>
            <p class="special-offer-second-text">@Html.DisplayFor(model => model.OfferText)</p>
    </div>
</div>
