@using Opticron.Controllers
@model Opticron.Models.SpecialOffers

<div>
    <img src="" alt="">
    <p>@Html.DisplayFor(model => model.Description)</p>
    <p>@Html.DisplayFor(model => model.OfferText)</p>
</div> 