@model Opticron.Models.HomeData


@{
    ViewData["Title"] = "Home Page";
}

<img src='/assets/banner.png' id='banner'>


<div class="home-container">
    <div class="navigation-card-container">
        @foreach (var item in Model.NavigationCards)
        {
            @await Html.PartialAsync("~/Views/NavigationCards/Home.cshtml", item)
        }
    </div>
    <div class="special-offer-container">
        @foreach (var item in Model.SpecialOffers)
        {
            @await Html.PartialAsync("~/Views/SpecialOffers/Home.cshtml", item)
        }
    </div>
    <div class="product-categories-container">
        @foreach (var item in Model.ProductCategories)
        {
            @await Html.PartialAsync("~/Views/ProductCategories/Home.cshtml", item)
        }
    </div>
</div>
