html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

nav {
  background-color: #e6e7e8;
}

.navbar {
  height: 180px;
}

#nav-container {
  width: 67vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

#nav-logo {
  height: 50px;
  width: auto;
}

.navbar-collapse {
  margin-top: 30px;
}

.nav-link {
  margin-right: 2rem;
  text-align: left;
  color: #bebfbf;
}

.search-container {
  height: 40px;
}

.search-btn {
  padding: 0;
  height: 40px;
}

#wrapper {
  overflow: hidden;
}
#banner {
  height: 510px;
  width: 1920px;
  position: relative;
  left: 50%;
  margin-left: -960px;
}

.home-container {
  border: black solid;
  width: 1280px;
  text-align: center;
}

.thumbnail {
  height: 50px;
}
